<form onsubmit="javascript:void(0)" ng-controller="AddPostCtrl">
    <fieldset>
        <label for="postTitle"><strong>Post Title:</strong></label><br />
        <input id="postTitle" name="" type="text">
    </fieldset>
    <fieldset>
        <label for="postDescription"><strong>Post Description:</strong></label><br />
        <textarea id="postDescription" style="width:450px; height:300px;"></textarea>
    </fieldset>
    <fieldset>
        <button ng-click="addPost()">Add Post</button>
        <button ng-click='hideModal()'>Close</button>
    </fieldset>
</form>
