<div class='custom-modal' ng-show='show'>
    <div class='custom-modal-overlay' ng-click='hideAddModal()'></div>
    <div class='custom-modal-dialog' ng-style='dialogStyle'>
        <div class='custom-modal-close' ng-click='hideAddModal()'>X</div>
        <form onsubmit="javascript:void(0)">
            <fieldset>
                <label for="postTitle"><strong>Title:</strong></label><br />
                <input id="postTitle" name="" type="text" ng-model="title">
            </fieldset>
            <fieldset>
                <label for="postAuthor"><strong>Author:</strong></label><br />
                <input id="postAuthor" name="" type="text" ng-model="author">
            </fieldset>
            <fieldset>
            <fieldset>
                <label for="postEmail"><strong>Email:</strong></label><br />
                <input id="postEmail" name="" type="text" ng-model="email">
            </fieldset>
            <fieldset>
                <label for="postDescription"><strong>Description:</strong></label><br />
                <textarea id="postDescription" ng-model="body"></textarea>
            </fieldset>
            <fieldset>
                <button ng-click="onSubmitPost()">Add Post!!!</button>
                <button ng-click='hideAddModal()'>Close</button>
            </fieldset>
        </form>
    </div>
</div>