<div class='custom-modal' ng-show='show'>
    <div class='custom-modal-overlay' ng-click='hideUpdateModal()'></div>
    <div class='custom-modal-dialog' ng-style='dialogStyle'>
        <div class='custom-modal-close' ng-click='hideUpdateModal()'>X</div>
        <form onsubmit="javascript:void(0)">
            <h3><strong>UPDATE POST:</strong></h3><br />
            <fieldset>
                <label for="postTitle"><strong>Title:</strong></label><br />
                <input id="postTitle" name="" type="text" ng-model="updatingPost.title">
            </fieldset>
            <fieldset>
                <label for="postAuthor"><strong>Author:</strong></label><br />
                <input id="postAuthor" name="" type="text" ng-model="updatingPost.author">
            </fieldset>
            <fieldset>
            <fieldset>
                <label for="postEmail"><strong>Email:</strong></label><br />
                <input id="postEmail" name="" type="text" ng-model="updatingPost.email">
            </fieldset>
            <fieldset>
                <label for="postDescription"><strong>Description:</strong></label><br />
                <textarea id="postDescription" ng-model="updatingPost.body"></textarea>
            </fieldset>
            <fieldset>
                <button ng-click="onSubmitUpdate()">Update Post</button>
                <button ng-click='hideUpdateModal()'>Close</button>
            </fieldset>
        </form>
  </div>
</div>
