/* Menu 
--------------------*/

nav {
  position: relative;
  text-align: center;

  .menu-toggle {
    display: none;
    position: absolute;
  }
}

ul.nav-list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  .clear;

  li {
    float: left;
    padding: 3px 0;
  }

  li > a {
    display: block;
    line-height: 50px;
    color: @color-white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 25px;

    &:hover {
      background:@color-blue-origin;
    }
  }
}


ul.nav-list.mobile-opened {

  display: block;

  li:first-child {
    //margin-top: 36px;
  }

  li {
    padding: 0;
    border-bottom: #f2f2f2 1px solid;
  }

  li > a {
    line-height: 36px;
    background: #e1effc;
    color: #6b9ace;
  }

  li > a:hover {
    background: #b4d9fc;
  }
}


ul.services-toolbar {

  position: relative;

  li > a {
    position: absolute;
    display: none;
    line-height: 56px;
    width: 40px;
    top: 0;
    background: @color-blue-origin;
    color: @color-white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    z-index: 5;
  }

  &:hover {
    cursor: pointer;
  }
}