/* Social toolbar
--------------------*/

.social-wrapper {
  padding-top: 4px;
}

.social-toolbar {
  float:right;
  height: 32px;

  li {
    float:left;
    margin-right:3px;
    height: 32px;

    & > a {
      text-decoration:none;
      display:block;
      line-height: 30px;
      background-color: @color-gray-light;
      color: @color-white;
      padding:0 5px 0 20px;
      border-radius:3px;
    }
  }
}