.navigation-link {
  display: inline-block;
  background: @color-blue-origin;
  color: #fff;
  border-radius: 15px;
  line-height: 22px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  fonr-weight: bold;
  font-style: italic;
  font-size: 80%;
  //transition: color .5s ease;

  &:hover {
    color: #000;
  }
}