/* Mixins
----------------*/

.arrow-right (@arr-size, @arr-color) {
  width: 0;
  height: 0;
  border-top: @arr-size solid transparent;
  border-bottom: @arr-size solid transparent;
  border-left: @arr-size solid @arr-color;
}

.cicle (@radius) {
  width: @radius;
  height:@radius;
  border-radius: @radius / 2;
}

.clear {
  overflow: hidden;
  zoom: 1;
}

